### IntelliJ IDEA ###
out/
.idea_modules/
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Maven
target/
/**/target

.DS_Store
/**/.DS_Store

### flatten-maven-plugin
.flattened-pom.xml
/**/.flattened-pom.xml